@model AarhusWebDevCoop.ViewModels.ContactForm

<!-- If user hasn't sent anything yet -->
@if(TempData["success"] == null) {

    <!-- Beginning the Form -->
    using (Html.BeginUmbracoForm("HandleFormSubmit", "ContactFormSurface", new object { }, new { @class = "form" })) {
    <div class="container-fluid mt-3">
        
        <!-- NAME -->
        <div class="form-group my-3">
            <div class="row justify-content-center">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 form-control-label text-sm-right" })
                @Html.TextBoxFor(m => m.Name, new { @class = "col-sm-7 form-control-input", placeholder = "Name" })
            </div>
            <div class="row justify-content-center">
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "col-sm-7 offset-sm-1 text-danger" })
            </div>
        </div>

        <!-- EMAIL ADDRESS -->
        <div class="form-group">
            <div class="row justify-content-center">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 form-control-label text-sm-right" })
                @Html.TextBoxFor(m => m.Email, new { @class = "col-sm-7 form-control-input", placeholder = "Email" })
            </div>
            <div class="row justify-content-center">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "col-sm-7 offset-sm-1 text-danger" })
            </div>
        </div>
    
        <!-- SUBJECT  -->
        <div class="form-group">
            <div class="row justify-content-center">
                @Html.LabelFor(m => m.Subject, new { @class = "col-sm-2 form-control-label text-sm-right" })
                @Html.TextBoxFor(m => m.Subject, new { @class = "col-sm-7 form-control-input", placeholder = "Subject" })
            </div>
            <div class="row justify-content-center">
                @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "col-sm-7 offset-sm-1 text-danger" })
            </div>
        </div>

        <!-- MESSAGE -->
        <div class="form-group">
            <div class="row justify-content-center">
                @Html.LabelFor(m => m.Message, new { @class = "col-sm-2 form-control-label text-sm-right" })
                @Html.TextAreaFor(m => m.Message, new { @class = "col-sm-7 form-control-input", rows = "7", placeholder = "Your Message" })
            </div>
            <div class="row justify-content-center">
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "col-sm-7 offset-sm-1 text-danger" })
            </div>
        </div>
        
        <!-- BUTTON -->
        <div class="row justify-content-center">
            <button id="contact-submit" type="submit" class="col-sm-7 offset-sm-2 btn btn-primary">Send</button>
        </div>
        
    </div> <!-- End of form -->
    }
    
<!-- If user has send message -->
} else {

    <!-- Success message -->
    <div class="container-fluid p-0">
        <p class="text-center font-weight-bold">Thank you for your message. We will get back to you.</p>
    </div>
    
}